extends ../components/base/layout

block variables
	- const title = "BRAND" //- на страницах кроме главной используйте О нас — ProjectName
	- const wrapperMods = ""
	- const hasHeader = true
	- const headerMods = ""
	- const hasFooter = true
	- const footerMods = "cart-page"
	- const currentUrl = "cart-page.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
	main
		section.cart
			+page-head("cart")
			+cart()

block modals
