.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: $gutter * 3;
  width: auto;
  padding: 15px 36px;
  color: inherit;
  cursor: pointer;
  transition: opacity $trans-default, color $trans-default, background-color $trans-default, border-color $trans-default;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  border: 1px solid;
  border-radius: 4px;
  
  &--primary {
    color: $color-default-white;
    background-color: $color-froly;
    border-color: $color-froly;
    
    @include hover {      
      background-color: $color-default-white;
      color: $color-froly;
    }
  }
  
  &--reset {
    background-color: $color-transparent;
    padding: 0;
    border-color: $color-transparent;
    font-size: inherit;
    line-height: 1;
  }
  
  &--empty {
    background-color: $color-transparent;
    border-color: $color-froly;
    color: $color-froly;
    padding: 15px 40px;
    font-size: 16px;
    line-height: 19px;
    @include hover {
      background-color: $color-froly;
      color: $color-default-white;
    }
  }
  
  &:disabled {
    opacity: 0.5;
  
    pointer-events: none;
  }

  &__icon {
    display: inline-flex;
    color: inherit;
  }
}





