.cart {
	&__wrapper {
		display: flex;
		gap: 30px;
		justify-content: space-between;
		padding: 95px 0;
    @include vp-1023 {
      padding: 60px 0;
      flex-direction: column;
      gap: 60px;
    }
	}
	&__products {
		flex-grow: 1;
	}
	&__order {
    flex-shrink: 0;
		flex-basis: 360px;
	}
	&__product {
		display: flex;
		gap: $gutter;
		box-shadow: 17px 18px 24px rgba($color-default-black, 0.13);
    @include vp-767 {
      gap: unset;
    }
	}
}

.cart-products {
	&__item {
		&:not(:first-child) {
			margin-top: $gutter * 4;
		}
	}

	&__actions {
		display: flex;
		justify-content: space-between;
		gap: $gutter * 2;
		margin-top: 70px;
    @include vp-1023 {
      justify-content: space-evenly;
    }
    @include vp-767 {
      justify-content: space-between;
      gap: $gutter;
    }
	}

	&__btn {
		border-color: $color-dim-gray;
		color: $color-default-black;
		text-transform: uppercase;
		font-size: 14px;
		line-height: 17px;
		font-weight: 300;
		border-radius: 0;
    @include vp-767 {
      padding: 9px 18px;
      text-transform: initial;
      font-size: 12px;
      line-height: 14px;
      flex-grow: 1;
    }
	}
}

.cart-product {
	&__pic {
		display: block;
		flex: 1 0 262px;
    @include vp-767 {
      flex-basis: 144px;
    }
    @include vp-374 {
      flex-basis: 45%;
    }
    img {
      width: 100%;
    }
	}

	&__desc {
		flex: 1 1 100%;
		padding: 22px 60px 22px 22px;
		position: relative;
    @include vp-767 {
      padding: 14px 32px 14px 17px;
    }
	}

	&__remove {
		position: absolute;
		top: 6px;
		right: 6px;
		padding: $gutter * 2;
    @include vp-767 {
      padding: $gutter * 1.5;
      top: 0;
      right: 0;
      & .icon {
        width: 10px;
        height: 11px;
      }
    }
	}

	&__name {
		color: $color-nero;
		max-width: 211px;
		hyphens: none;
    @include vp-767 {
      max-width: 94%;
      font-size: 16px;
      line-height: 19px;
    }
    @include vp-374 {
      font-size: 12px;
      line-height: 14px;
    }
	}
}

.cart-product-desc {
	&__summary {
		margin-top: $gutter * 4;
		color: $color-matterhorn;
		font-size: 22px;
		line-height: 26px;
    @include vp-767 {
      margin-top: $gutter * 3;
      font-size: 14px;
      line-height: 17px;
    }
    @include vp-374 {
      margin-top: 10px;
      font-size: 12px;
      line-height: 14px;
    }
	}

	&__item {
		&:not(:first-child) {
			margin-top: 6px;
      @include vp-767 {
        margin-top: $gutter * 0.5;
      }
		}
	}

	&__prop {
		display: inline-block;
		margin-right: $gutter;
	}
	&__value {
		color: $color-dim-gray;
		&--colored {
			color: $color-froly;
		}
	}

	&__quantity {
		color: $color-dim-gray;
		font-size: 18px;
		line-height: 22px;
		border: 1px solid $color-whisper;
		max-width: 44px;
		text-align: center;
    @include vp-767 {
      font-size: 14px;
      line-height: 16px;
    }
	}
}

.cart-order {
	padding-top: 15px;
  @include vp-1023 {
    padding-top: 0;
  }
	&__form {
		position: sticky;
		top: 75px;
    @include vp-1023 {
      position: initial;
    }
	}
}

.cart-order-form {

	&__title {
		color: $color-nero;
		font-size: 16px;
		font-weight: 300;
		line-height: 19px;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

  &__fieldset {
    @include vp-1023 {
      display: flex;
      gap: $gutter * 2;
    }
    @include vp-767 {
      flex-direction: column;
    }
  }

  &__fields,
  &__order {
    @include vp-1023 {
      flex-grow: 1;
    }
  }

	&__field {
		&:not(:first-of-type) {
			margin-top: 20px;
		}
		&.custom-input {
			label {
				input {
					border-width: 1px;
					border-color: $color-dark-gray;
					border-radius: 0;
				}
			}
		}
	}

	&__btn {
		color: $color-dark-gray;
		font-size: 11px;
		font-weight: 300;
		line-height: 13px;
		text-transform: uppercase;
		border-radius: 0;
		border-color: $color-dark-gray;
		padding: 10px 15px;
		margin-top: $gutter * 3;
	}

	&__order {
		margin-top: 60px;
		background-color: $color-white-smoke;
		padding: 40px;
		text-transform: uppercase;
    @include vp-1023 {
      margin-top: 39px;
    }
    @include vp-767 {
      padding: 25px;
    }
	}

	&__sub-total {
		font-size: 11px;
		line-height: 13px;
		color: $color-dark-gray;
		text-align: right;
	}

	&__submit {
		font-size: 16px;
		font-weight: 300;
		line-height: 19px;
		margin-top: 17px;
		text-transform: uppercase;
		width: 100%;
		border-radius: 0;
	}
}

.cart-order-form-sub-total {
	&__value {
		margin-left: $gutter * 3;
	}
}

.cart-order-form-grand-total {
	color: $color-nero;
	font-size: 16px;
	line-height: 19px;
	font-weight: 300;
	text-align: right;
	margin-top: $gutter * 1.5;
	padding-bottom: 20px;
	border-bottom: 1px solid $color-gainsboro;

	&__value {
		color: $color-froly;
		margin-left: $gutter * 3;
	}
}
