$header_height: 74px;

.header {
  padding: 18px 0;
  background-color: #222222;
  min-height: $header_height;

  &__cols,
  &__col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e8e8e8;
  }

  &__logo {
    display: inline-block;
    width: 44px;
    height: 38px;
    margin-right: 40px;
  }

  &__search {
    display: flex;
    align-items: center;
  }

  &__btn-list {
    display: flex;
  }
  &__btn-list-item:not(:last-of-type) {
    margin-right: 23px;
  }

  &__btn {
    padding: 5px;
    width: 44px;
    height: 33px;
  }
}

.cart-btn-wrap {
  position: relative;
}

.cart-counter {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #f16d7f;
  display: flex;
  align-items: center;
  justify-content: center;
}
