mixin footer(footerMods)
  footer.footer
    .footer__top.advantages
      .container
        ul.advantages__list
          li.advantages__item
            span.advantages__icon
              svg.icon(width="45", height="32")
                use(href="#icon-advantages-1")
            h2.title.footer__title.advantages__title.
              
              Free Delivery
              
            p.text.advantages__text.
              
              Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.
              
          li.advantages__item
            span.advantages__icon
              svg.icon(width="40", height="40")
                use(href="#icon-advantages-2")
            h2.title.footer__title.advantages__title.
              
              Sales & discounts
            p.text.advantages__text.
              
              Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.
              
          li.advantages__item
            span.advantages__icon
              svg.icon(width="48", height="35")
                use(href="#icon-advantages-3")
            h2.title.footer__title.advantages__title.
              
              Quality assurance
              
            p.text.advantages__text.
              
              Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.
              
    .footer__middle.subscribe
      .subscribe__bg.subscribe-bg
        img.bg-img.subscribe-bg__img(src="./images/footer-bg.jpg", alt="footer background image")
      .container
        .subscribe__cols
          .subscribe__col.subscribe__col--1
            .review
              span.review__avatar
                img.review__img(src="./images/subscribe-photo.jpg", alt="Reviewer avatar")
              h2.title.footer__title.review__title.
                
                “Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus condimentum“
                
          .subscribe__col.subscribe__col--2
            form.subscribe__form.subscribe-form(action="#")
              span.subscribe__title.
                
                Subscribe
                
              span.subscribe__subtitle.
                
                for our new letter and promotion
                
              .subscribe-form__field
                input.subscibe-form__email#id-subscribe-email(type="email", name="subscribe-email", placeholder="Enter Your Email")
                button.btn.btn--primary.subscribe__btn(type="submit").
                  
                  Subscribe
                  
    .footer__bottom.footer-bottom
      .container
        .footer-bottom__row
          .footer__copy.
            
            © 2023 Brand All Rights Reserved.
            
          ul.footer__social.footer-social
            li.footer-social__item
              a.footer-social__link.footer-social__link--fb(href="#")
                svg.icon(width="9", height="15")
                  use(href="#icon-fb")
            li.footer-social__item
              a.footer-social__link.footer-social__link--ig(href="#")
                svg.icon(width="16", height="15")
                  use(href="#icon-ig")
            li.footer-social__item
              a.footer-social__link.footer-social__link--pint(href="#")
                svg.icon(width="13", height="16")
                  use(href="#icon-pinterest")
            li.footer-social__item
              a.footer-social__link.footer-social__link--twit(href="#")
                svg.icon(width="17", height="14")
                  use(href="#icon-twitter")
