//- Base

include ./base/header
include ./base/footer
include ./base/footer-top
include ./base/footer-middle
include ./base/footer-bottom
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture

//- Modals

include ./modals/modal-feedback
include ./modals/modal-success

//- Blocks

include ./blocks/intro
include ./blocks/hero
include ./blocks/categories
include ./blocks/featured
include ./blocks/card
include ./blocks/page-head
include ./blocks/product-hero
include ./blocks/cards
include ./blocks/filter
include ./blocks/pagination
include ./blocks/cart
include ./blocks/registration

//- Mixins

include ./mixins/btn
include ./mixins/custom-input
include ./mixins/custom-select
include ./mixins/custom-textarea
include ./mixins/custom-toggle
include ./mixins/breadcrumbs